* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  background-color: #ffdd00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  border: 2px solid black;
}

.container {
  padding: 75px 10%;
}

header a,
header a:visited {
  text-decoration: none;
  color: #333652;
}

logo {
  color: #333652;
  font-family: "Londrina Shadow", cursive;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.1em;
  translate: 0 -6px;
}

.nav-links {
  background-color: #ffdd00;
  border: 2px solid black;
  position: fixed;
  list-style-type: none;
  top: 0;
  right: -200px;
  height: 100vh;
  width: 200px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: right 0.3s ease-in-out;
}

.nav-links li {
  color: #333652;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.3em;
  margin: 25px;
}

.nav-links a {
  box-shadow: inset 0 0 0 0 #333652;
  color: #333652;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  box-shadow: inset 100px 0 0 0 #333652;
  color: #ffdd00;
}

#hamburger {
  cursor: pointer;
}

#hamburger div {
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 5px;
}

#close {
  position: absolute;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

/* --------------- hero ------------- */
#hero .container {
  height: 100vh;
  width: 100%;
  background: #90adc6;
  overflow: hidden;
}
.title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.transition{
  transition: all 0.2s linear;
}

.title .text h1 {
  line-height: 1;
  font-size: 100px;
  font-family: "Fjalla One", sans-serif;
  text-shadow: -5px 5px black;
  /* transition: letter-spacing 0.5s ease-in-out; */
  margin-top: 20px;
}

/* .title .text:hover h1 {
  transform: translate(-5px, -5px);
  letter-spacing: 5px;
} */

/* .title .text p {
  color: black;
  margin-left: 5px;
  transition: transform 0.5s ease-in-out;
} */

/* .title .text:hover p {
  transform: translateX(21%);
} */

/* --------------- about ------------- */
#about {
  background: #9dd1c0;
  position: relative;
}
#about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #90adc6;
  -webkit-clip-path: polygon(80% 50%, 0 0, 100% 0);
  clip-path: polygon(80% 50%, 0 0, 100% 0);
}

.two-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 3em;
  padding-bottom: 20px;
  line-height: 0.75em;
  text-transform: lowercase;
  color: white;
}

.about-section img {
  border-radius: 50%;
  width: 200px;
  border: 2px solid black;
  box-shadow: -3px 3px black;
  transition: 0.3s ease-in-out;
}

.about-section .img-container:hover img {
  transform: rotateY(180deg);
}
/* --------------- projects ------------- */
#projects {
  background-color: #e9eaec;
  position: relative;
}
#projects::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #9dd1c0;
  -webkit-clip-path: polygon(20% 50%, 0 0, 100% 0);
  clip-path: polygon(20% 50%, 0 0, 100% 0);
}
.projects-section h2 {
  color: white;
  padding-top: 10px;
}
#projects-title {
  text-align: right;
}

#projects-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 330px;
  margin: 15px;
  position: relative;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: -5px 5px black;
  overflow: hidden;
}

.card .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.card h3 {
  color: black;
  font-size: 20px;
}

.card .img-container {
  overflow: hidden;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.2s ease-in-out;
  display: block;
}

.card:hover img {
  scale: 1.1;
}

.card .description {
  padding: 5px 20px;
}

.card .links-container {
  float: right;
  padding: 5px 0;
}

.card a {
  text-decoration: none;
  color: lightcoral;
}

/* --------------- contact ------------- */
#contact {
  background-color: lightcoral;
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #e9eaec;
  -webkit-clip-path: polygon(80% 50%, 0 0, 100% 0);
  clip-path: polygon(80% 50%, 0 0, 100% 0);
}

.contact-section h2 {
  color: white;
}

.contact-container {
  width: 100%;
  height: 100%;
}

.login-box {
  padding: 40px;
  margin-bottom: 40px;
  background: #90adc6;
  box-sizing: border-box;
  box-shadow: -5px 5px black;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.user-box {
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
  caret-color: #ffdd00;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #000;
  font-size: 12px;
}

button {
  background-color: #9dd1c0;
  color: black;
  padding: 5px 20px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: -3px 3px black;
}

button:hover {
  transform: translate(-2px, 2px);
  box-shadow: -1px 1px black;
}

button:active {
  transform: translate(-3px, 3px);
  box-shadow: 0 0 black;
}
/* --------- footer ---------*/

footer {
  background-color: black;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container .contact-links {
  text-align: center;
}

.contact-links i {
  padding: 3px;
  font-size: 3em;
  color: #e9eaec;
  text-shadow: -3px 3px black;
  transition: all 0.3s ease-in-out;
}

.contact-links i:hover {
  transform: translate(2px, 2px);
  text-shadow: 1px 1px black;
}

/* ---------------------------   media queries--------------------- */
@media all and (min-width: 900px) {
  .title {
    flex-direction: row;
    margin-top: 10%;
  }
}

@media all and (min-width: 768px) {
  logo {
    font-size: 48px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    height: 0;
    width: 100%;
    padding: 0;
    border: none;
  }

  .nav-links li {
    margin-left: 30px;
  }

  nav span {
    display: none;
  }

  /* .title .text h1 {
    font-size: 128px;
  } */

  /* .title .text:hover p {
    transform: translateX(37%);
  } */

  .lottie {
    max-width: 400px;
    transition: 0.3s ease-in-out;
  }
  .lottie:hover {
    scale: 1.1;
  }

  .two-col {
    flex-direction: row;
    gap: 40px;
  }

  .about-section img {
    width: 300px;
  }

  .card .description {
    opacity: 0;
    translate: 0 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(black, rgba(0, 0, 0, 0.5));
    color: white;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .card:hover .description {
    opacity: 1;
    translate: none;
  }

  .card .links-container {
    float: right;
    padding: 5px 10px;
  }

  .contact-container {
    display: flex;
  }

  .login-box {
    min-width: 500px;
    margin-bottom: none;
  }

  .contact-links {
    margin: 0 auto;
  }

  .contact-links p {
    margin-bottom: 10px;
  }
}
